/* FONT Properties */
h1.subtitle {
  font-size:2.3rem;
  text-align:center;
}

h2.subtitle {
  font-size:1.5rem;
  line-height: 0.5em;
  text-align:center;
}

/* End of Font Properties */

img.gdimg {
  max-width: 100%;
  height: auto;
}

img.inline15 {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
}

img.inline40 {
  display: inline-block;
  vertical-align: middle;
  width: 4.0rem;
}

img.inline25 {
  display: inline-block;
  vertical-align: middle;
  width: 4.0rem;
}

.table-stripped .divTableRow:nth-child(even){
  .divTableCell{
    background-color: #EFEFEF;
  }
}