<div class="mat-elevation-z8 basecanvas">
  <mat-tab-group color="accent">
    <mat-tab label="데미지감소 계산기">
      <form [formGroup]="statForm">
        <mat-form-field style="width: 10rem;">
          <mat-label>방어력</mat-label>
          <input type="text" matInput formControlName="def" /> </mat-form-field
        ><br />
        <mat-form-field style="width: 10rem;">
          <mat-label>공격자 레벨</mat-label>
          <input type="text" matInput formControlName="lvl" />
        </mat-form-field>
      </form>
      <span style="font-weight: bold;">데미지 감소 </span>:
      {{
        (
          statForm.value.def *
          0.15 *
          math.pow(1.2, 1 - statForm.value.lvl / 20)
        ).toFixed(2)
      }}
      %
    </mat-tab>

    <mat-tab label="필요방어력 계산기">
      <form [formGroup]="defForm">
        <mat-form-field style="width: 15rem;">
          <mat-label>목표 데미지 감소율 (%)</mat-label>
          <input type="text" matInput formControlName="def" /> </mat-form-field
        ><br />
        <mat-form-field style="width: 15rem;">
          <mat-label>공격자 레벨</mat-label>
          <input type="text" matInput formControlName="lvl" />
        </mat-form-field>
      </form>
      <span style="font-weight: bold;">필요 방어력 :</span>
      {{
        math.round(
          (defForm.value.def / 0.15) *
            math.pow(1.2, -1 + defForm.value.lvl / 20)
        )
      }}
    </mat-tab>
  </mat-tab-group>
  <br>
</div>
