h1.subtitle {
  font-size:2.3rem;
  text-align:center;
}

h2.subtitle {
  font-size:1.8rem;
  margin-top: 0.0em;
  margin-bottom: 0.0em;
}

.highlight {
background: url("../../assets/Etc/brush.png");
background-repeat: no-repeat;
background-size: 100% 95%;
padding: 8px 0;
text-decoration: none;
color:black;
}