<div class="contents">
<mat-form-field>
  <mat-label>검색</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="검색어 입력">
</mat-form-field>

<mat-table [dataSource]="dataSource" matSort matSortActive="ID" matSortDirection="desc" class="mat-elevation-z8">

  <ng-container matColumnDef="ID">
    <mat-header-cell *matHeaderCellDef mat-sort-header> 보스 </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <p>{{row.Name}}</p>
      <a routerLink="/boss/{{row.Sprite}}">모션</a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Info">
    <mat-header-cell *matHeaderCellDef> 정보 </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span class="boss-subtitle">퀘스트 : </span> <span>{{row.Quest}}</span><br>
      <span class="boss-subtitle">공/방/렙 : </span>
      <span class="atk">{{row.Atk}}</span> /
      <span class="def">{{row.Def}}</span> / 
      <span class="level">{{row.Level}}</span><br>
      <span class="boss-subtitle">저항 : </span>
      <span class="res1">{{row.ChaAtkType_1}}</span> / 
      <span class="res2">{{row.ChaAtkType_2}}</span> / 
      <span class="res3">{{row.ChaAtkType_3}}</span> / 
      <span class="res4">{{row.ChaAtkType_4}}</span> / 
      <span class="res5">{{row.ChaAtkType_5}}</span> / 
      <span class="res6">{{row.ChaAtkType_6}}</span> / 
      <span class="res7">{{row.ChaAtkType_7}}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
</mat-table>
</div>