@import '../../styles.scss';

@media screen and (min-width: 800px) {
  .contents { width: 80%;}
}

.contents {
	clear: both;
	padding: 0px;
  margin: auto;
}

@include mat-table-columns((
    ID:       (minwidth: 4rem, maxwidth:6rem, flex-direction: column),
    Type:     (minwidth: 1rem),
    Position: (minwidth: 2rem)
));

mat-header-cell {
  justify-content: center;
}

img.face {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin: 0;
}

mat-cell{
  text-align: left;
}

span.wordnonbreak {
  word-break: keep-all;
  text-align: center;
}

span.boss-subtitle {
  display:inline-block;
  width:4rem;
  font-weight: bold;
}

mat-cell{
  display:block;
}

p{
  margin:0;
}
span.atk{
  color:#a8204e;
  font-weight:bold;
}
span.def{
  color:#282f85;
  font-weight:bold;
}
span.level{
  color:#8f918a;
  font-weight:bold;
}