/* FONT Properties */
h1.subtitle {
  font-size:2.3rem;
  text-align:center;
}

h2.subtitle {
  font-size:1.5rem;
  line-height: 0.5em;
}

hr.inTable {
  color:#c5bdb2
}

//div.divTable>div:nth-of-type(even) {
//  background: rgba(237, 232, 232, 0.4);
//}


