<div class="mat-elevation-z8 basecanvas">
  <form [formGroup]="recipieForm">
    <div class="section group">
      <div class="col span_1_of_2" style="text-align: center;">
        <mat-form-field style="width: 50%;">
          <mat-label>조합법 이름</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>

        <mat-divider></mat-divider>
        <mat-form-field style="width: 33%;">
          <mat-label>시간</mat-label>
          <input type="text" matInput formControlName="hour" />
        </mat-form-field>
        <mat-form-field style="width: 33%;">
          <mat-label>분</mat-label>
          <input type="text" matInput formControlName="minute" />
        </mat-form-field>
        <mat-form-field style="width: 33%;">
          <mat-label>초</mat-label>
          <input type="text" matInput formControlName="hour" />
        </mat-form-field>

        <mat-divider></mat-divider>
        <div style="width: 100%; text-align: center;">일반자원</div>
        <mat-form-field style="width: 25%;">
          <mat-label>아르브</mat-label>
          <input type="text" matInput formControlName="a" />
        </mat-form-field>
        <mat-form-field style="width: 25%;">
          <mat-label>베크</mat-label>
          <input type="text" matInput formControlName="b" />
        </mat-form-field>
        <mat-form-field style="width: 25%;">
          <mat-label>시스트</mat-label>
          <input type="text" matInput formControlName="c" />
        </mat-form-field>
        <mat-form-field style="width: 25%;">
          <mat-label>다나</mat-label>
          <input type="text" matInput formControlName="d" />
        </mat-form-field>

        <mat-divider></mat-divider>
        <div style="width: 100%; text-align: center;">압축자원</div>
        <mat-form-field style="width: 25%;">
          <mat-label>아르브</mat-label>
          <input type="text" matInput formControlName="ac" />
        </mat-form-field>
        <mat-form-field style="width: 25%;">
          <mat-label>베크</mat-label>
          <input type="text" matInput formControlName="bc" />
        </mat-form-field>
        <mat-form-field style="width: 25%;">
          <mat-label>시스트</mat-label>
          <input type="text" matInput formControlName="cc" />
        </mat-form-field>
        <mat-form-field style="width: 25%;">
          <mat-label>다나</mat-label>
          <input type="text" matInput formControlName="dc" />
        </mat-form-field>

        <mat-divider></mat-divider>
        <div style="width: 100%; text-align: center;">냥</div>
        <mat-form-field style="width: 35%;">
          <mat-label>냥</mat-label>
          <input type="text" matInput formControlName="nyang" />
        </mat-form-field>
        <mat-form-field style="width: 35%;">
          <mat-label>진액</mat-label>
          <input type="text" matInput formControlName="nyangc" />
        </mat-form-field>
      </div>

      <div class="col span_1_of_2" style="text-align: center;">
        <div formArrayName="materials">
          <mat-form-field style="width: 10rem;">
            <mat-label>소재이름</mat-label>
            <input
              type="text"
              matInput
              [formControl]="itemControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #auto="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                {{ option.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button
            mat-stroked-button
            color="primary"
            type="button"
            (click)="addMaterials()"
          >
            소재 추가
          </button>

          <mat-divider></mat-divider>
          <div *ngFor="let material of materials.controls; let i = index">

            <mat-form-field style="width:40%;">
              <div [formGroupName]="i">
                <input matInput formControlName="name"/>
              </div>
            </mat-form-field>

            <mat-form-field style="width: 20%;">
              <div [formGroupName]="i">
                <input matInput placeholder="개수" formControlName="count" />
              </div>
            </mat-form-field>

            <button
              mat-stroked-button
              color="primary"
              type="button"
              (click)="removeMaterials(i)"
            >
              제거
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="section group">
      <div class="col span_2_of_2" style="text-align: center;">
        {{ recipieForm.value | json }}
      </div>
    </div>
  </form>
</div>

<!--
    </div> <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>시</mat-label>
        <input matInput placeholder="시" #hour />
      </mat-form-field>
    </div>
    <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>분</mat-label>
        <input matInput placeholder="분" #minute />
      </mat-form-field>
    </div>
    <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>초</mat-label>
        <input matInput placeholder="초" #sec />
      </mat-form-field>
    </div>
  </div>

  <div class="section group">
    <div class="col span_1_of_5"><br />일반자원</div>
    <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>아르브</mat-label>
        <input matInput placeholder="아르브" #a />
      </mat-form-field>
    </div>
    <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>베크</mat-label>
        <input matInput placeholder="베크" #b />
      </mat-form-field>
    </div>
    <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>시스트</mat-label>
        <input matInput placeholder="시스트" #c />
      </mat-form-field>
    </div>
    <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>다나</mat-label>
        <input matInput placeholder="다나" #d />
      </mat-form-field>
    </div>
  </div>

  <div class="section group">
    <div class="col span_1_of_5"><br />압축자원</div>
    <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>아르브</mat-label>
        <input matInput placeholder="아르브" #ac />
      </mat-form-field>
    </div>
    <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>베크</mat-label>
        <input matInput placeholder="베크" #bc />
      </mat-form-field>
    </div>
    <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>시스트</mat-label>
        <input matInput placeholder="시스트" #cc />
      </mat-form-field>
    </div>
    <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>다나</mat-label>
        <input matInput placeholder="다나" #dc />
      </mat-form-field>
    </div>
  </div>

  <div class="section group">
    <div class="col span_1_of_5"><br />냥</div>
    <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>일반 냥</mat-label>
        <input matInput placeholder="일반 냥" #nyang />
      </mat-form-field>
    </div>
    <div class="col span_1_of_5">
      <mat-form-field>
        <mat-label>압축 냥</mat-label>
        <input matInput placeholder="압축 냥" #nyangc />
      </mat-form-field>
    </div>
  </div>

  <div class="section group">
    <div class="col span_1_of_2">
      <form #materialForm="ngForm">
        <mat-form-field style="width: 10rem;">
          <mat-label>소재이름</mat-label>
          <input
            type="text"
            matInput
            [formControl]="itemControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            [displayWith]="displayFn"
          >
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option.Name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="addMaterials()"
      >
        소재 추가
      </button>
    </div>
    <div class="col span_1_of_2">
      <div *ngFor="let option of materials; let i = index;">
        {{ option.name }}
      <mat-form-field>
        <input matInput placeholder="개수" style="text-align: center;" [(ngModel)]="option.count" />
      </mat-form-field>
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="removeMaterials(i)"
      >
        제거
      </button>
 
      </div>
    </div>
  </div>


  <div class="section group">
    <div class="col span_2_of_2" style="text-align: center;">
      결과값
    </div>
    <div class="col span_2_of_2"  style="text-align: center;">
      <input style="width: 80%;" value="{{materialsForm.value.name}};{{a.value}};{{b.value}};{{c.value}};{{d.value}};{{ac.value}};{{bc.value}};{{cc.value}};{{dc.value}};{{nyang.value}};{{nyangc.value}};{{getItemList()}}">
    </div>
  </div>

  </form>
</div>
-->
