/* FONT Properties */
h1.subtitle {
  font-size:2.3rem;
  text-align:center;
}

h2.subtitle {
  font-size:1.5rem;
  line-height: 0.5em;
  text-align:center;
}

.skCoolMsg {
  color: #616161;
}

span.sk {
  color: #283593;
  font-weight: bold;
}

span.skCool {
  color: #1976d2;
  font-weight: bold;
}

/* End of Font Properties */

img.agimg {
  max-width: 100%;
  height: auto;
}