<div class="mat-elevation-z8 basecanvas">
  <form [formGroup]="recipeForm">
    <div class="section group">
      <div class="col span_1_of_2" style="text-align: center;">
        <mat-form-field style="width: 50%;">
          <mat-label>조합법 이름</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>

        <mat-divider></mat-divider>
        <mat-form-field style="width: 33%;">
          <mat-label>시간</mat-label>
          <input type="text" matInput formControlName="hour" />
        </mat-form-field>
        <mat-form-field style="width: 33%;">
          <mat-label>분</mat-label>
          <input type="text" matInput formControlName="minute" />
        </mat-form-field>
        <mat-form-field style="width: 33%;">
          <mat-label>초</mat-label>
          <input type="text" matInput formControlName="sec" />
        </mat-form-field>

        <mat-divider></mat-divider>
        <div style="width: 100%; text-align: center;">일반자원</div>
        <mat-form-field style="width: 25%;">
          <mat-label>아르브</mat-label>
          <input type="text" matInput formControlName="a" />
        </mat-form-field>
        <mat-form-field style="width: 25%;">
          <mat-label>베크</mat-label>
          <input type="text" matInput formControlName="b" />
        </mat-form-field>
        <mat-form-field style="width: 25%;">
          <mat-label>시스트</mat-label>
          <input type="text" matInput formControlName="c" />
        </mat-form-field>
        <mat-form-field style="width: 25%;">
          <mat-label>다나</mat-label>
          <input type="text" matInput formControlName="d" />
        </mat-form-field>

        <mat-divider></mat-divider>
        <div style="width: 100%; text-align: center;">압축자원</div>
        <mat-form-field style="width: 25%;">
          <mat-label>아르브</mat-label>
          <input type="text" matInput formControlName="ac" />
        </mat-form-field>
        <mat-form-field style="width: 25%;">
          <mat-label>베크</mat-label>
          <input type="text" matInput formControlName="bc" />
        </mat-form-field>
        <mat-form-field style="width: 25%;">
          <mat-label>시스트</mat-label>
          <input type="text" matInput formControlName="cc" />
        </mat-form-field>
        <mat-form-field style="width: 25%;">
          <mat-label>다나</mat-label>
          <input type="text" matInput formControlName="dc" />
        </mat-form-field>

        <mat-divider></mat-divider>
        <div style="width: 100%; text-align: center;">냥</div>
        <mat-form-field style="width: 35%;">
          <mat-label>냥</mat-label>
          <input type="text" matInput formControlName="nyang" />
        </mat-form-field>
        <mat-form-field style="width: 35%;">
          <mat-label>진액</mat-label>
          <input type="text" matInput formControlName="nyangc" />
        </mat-form-field>
      </div>

      <div class="col span_1_of_2" style="text-align: center;">
        <div formArrayName="materials">
          <mat-form-field style="width: 10rem;">
            <mat-label>소재이름</mat-label>
            <input
              type="text"
              matInput
              [formControl]="itemControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #auto="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                {{ option.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button
            mat-stroked-button
            color="primary"
            type="button"
            (click)="addMaterials()"
          >
            소재 추가
          </button>

          <mat-divider></mat-divider>
          <div *ngFor="let material of materials.controls; let i = index">
            <mat-form-field style="width: 40%;">
              <div [formGroupName]="i">
                <input matInput formControlName="name" />
              </div>
            </mat-form-field>

            <mat-form-field style="width: 20%;">
              <div [formGroupName]="i">
                <input matInput placeholder="개수" formControlName="count" />
              </div>
            </mat-form-field>

            <button
              mat-stroked-button
              color="primary"
              type="button"
              (click)="removeMaterials(i)"
            >
              제거
            </button>
          </div>
        </div>

        <div formArrayName="results">
          <button
            mat-stroked-button
            color="primary"
            type="button"
            (click)="addResults()"
          >
            완성품 추가
          </button>
          <div *ngFor="let result of results.controls; let i = index">

            <mat-form-field style="width: 50%;">
              <input matInput placeholder="아이템 이름" [formControlName]="i">
            </mat-form-field>

            <button
              mat-stroked-button
              color="primary"
              type="button"
              (click)="removeResults(i)"
            >
              제거
            </button>
          </div>
 
        </div>

      </div>
    </div>

    <div class="section group">
      <div class="col span_2_of_2" style="text-align: center;">
        {{ recipeForm.value | json }}
      </div>

      <div class="col span_2_of_2" style="text-align: center;">
        <button
          mat-button
          color="warn"
          type="button"
          [cdkCopyToClipboard]="copyToClipboard()"
        >
          복사
        </button>
        <button mat-button color="primary" type="button" (click)="reset()">
          리셋
        </button>
      </div>
    </div>
  </form>
</div>
