<div class="basecanvas">
<div class="section group">
  <div class="col span_2_of_2" style="text-align: center;">
    <a href="https://cafe.naver.com/solidus" target="_blank"><img src="assets/IndexPage/logo1.png" class="imgBox" style="width: 80%; height: auto; margin:auto"></a>
  </div>
  <div class="col span_2_of_2" style="text-align: center;">
    <a href="https://gall.dcinside.com/mgallery/board/lists/?id=solidus" target="_blank"><img src="assets/IndexPage/logo2.png" class="imgBox" style="width: 80%; height: auto; margin:auto"></a>
  </div>
  <div class="col span_2_of_2" style="text-align: center;">
    <a href="http://unleashed.iustice.net/" target="_blank"><img src="assets/IndexPage/logo3.png" class="imgBox" style="width: 80%; height: auto; margin:auto"></a>
  </div>
</div>