/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* nanum-gothic-regular - korean */
//@font-face {
//  font-family: 'Nanum Gothic';
//  font-style: normal;
//  font-weight: 400;
//  src: url('/assets/fonts/nanum-gothic-v17-korean-regular.eot'); /* IE9 Compat Modes */
//  src: local('NanumGothic'),
//       url('/assets/fonts/nanum-gothic-v17-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//       url('/assets/fonts/nanum-gothic-v17-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
//       url('/assets/fonts/nanum-gothic-v17-korean-regular.woff') format('woff'), /* Modern Browsers */
//       url('/assets/fonts/nanum-gothic-v17-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
//       url('/assets/fonts/nanum-gothic-v17-korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
//}
$solidb-typography: mat-typography-config($font-family: '"Nanum Gothic", sans-serif');

@include mat-core($solidb-typography);

$solidb-primary: mat-palette($mat-grey);
$solidb-accent:  mat-palette($mat-pink, A200, A100, A400);
$solidb-warn:    mat-palette($mat-red);

$solidb-theme: mat-light-theme($solidb-primary, $solidb-accent, $solidb-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@mixin mat-table-columns($columns)
{
    .mat-column-
    {
        @each $colName, $props in $columns {
            $minwidth: map-get($props, 'minwidth');
            $maxwidth: map-get($props, 'maxwidth');
            &#{$colName} 
            {
                flex: $minwidth;
                min-width: $minwidth;
                max-width: $maxwidth;
                @if map-has-key($props, 'color') 
                {
                    color: map-get($props, 'color');
                }
                @if map-has-key($props, 'flex-direction') 
                {
                    flex-direction: map-get($props, 'flex-direction');
                }
            }  
        }
    }
}

@include angular-material-theme($solidb-theme);


html, body { height: 100%; font-family: 'Nanum Gothic', sans-serif;}

body { margin: 0;}


hr.hr90 {
  width: 90%;
}

.mat-sort-header-container{
  flex-direction: column;
}

