@import '../../styles.scss';

@media screen and (min-width: 800px) {
  .contents { width: 80%;}
}

.contents {
	clear: both;
	padding: 0px;
  margin: auto;
}

@include mat-table-columns((
    ID:       (minwidth: 3.5rem, flex-direction: column)
));

mat-header-cell {
  justify-content: center;
  flex-direction: row;
}
mat-cell{
  justify-content: center;
}

img.face {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin: 0;
}

span.wordnonbreak {
  word-break: keep-all;
  text-align: center;
}
