
@import '../../styles.scss';

@media screen and (min-width: 800px) {
  .contents { width: 80%;}
}

.contents {
  clear: both;
  padding: 0px;
  margin: auto;
}

@include mat-table-columns((
    ID:       (minwidth: 3rem, maxwidth:6rem, flex-direction: column),
    atk:    (minwidth:2rem),
    def:    (minwidth:2rem),
    hp:    (minwidth:2rem),
    skill:    (minwidth:2rem),
));

mat-header-cell {
  justify-content: center;
  flex-direction: row;
}

img.face {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin: 0;
}

mat-cell{
  justify-content: center;
}

span.wordnonbreak {
  word-break: keep-all;
  text-align: center;
}

img.inline10 {
  display: inline-block;
  vertical-align: middle;
  width: 1.0rem;
}

